aiosmtpd~=1.4.6
pytest==9.0.3
pytest-cov==7.1.0
pytest-testdox==3.1.0
flake8==7.3.0
flake8_black==0.4.0
coverage==7.14.1
tox==4.55.0
mkdocs==1.6.1
mkdocs-material
mkdocs-material-extensions
mkdocs-include-markdown-plugin
